<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Mój blog</title>
    </head>
    <body>
        {%if typ == 'ok'%}
        <div style="color:green;padding:15px">
            Na podane konto mailowe został wysłany link aktywacyjny do twojego konta :)
        </div>
        {%endif%}
        <div class="container">
            <div class="content">

               <div>
             {% if user.is_authenticated%}
                <div >
                    <h4 >Jesteś zalogowany</h4>
                </div>
                <div>


                <a href="{% url 'lista'%}">Wyswietl listę kursów na canvasie</a><br/><br/>
                <a href="{% url 'czas'%}">Ustaw dane do logowania i wyswietl pozostały czas</a><br/><br/>
                <a href="{% url 'logout' %}">Wyloguj</a><br/><br/>
                <a href="{% url 'canvas'%}">Ustaw dane do logowania na canvasa</a><br/><br/>




                <br/>

                 </div>
            {% else %}
                <div >
                    <h4 >Zaloguj się lub załóż konto</h4>
                </div>
                <div >

                    <a href="{% url 'czas'%}">Ustaw dane do logowania na canvasa</a><br/><br/>

                </div>
                   {% if success == 'Zalogowano' %}
                       Dane wprowadzone: {{ data }}<br/>
                    <a href="{% url 'sesja'%}">Wydłuż sesje</a><br/>
                    <a href="{% url 'lista'%}">Wyswietl listę kursów na canvasie</a><br/><br/>

                     {%else%}

                     <p>Wprowadz poprawne dane logowania do canvasa</p>

                     {% endif %}
            {% endif%}

            <div>
            {% block content %}{% endblock %}
            </div>

        </div>
    </body>
</html>