<!DOCTYPE html>
<html>


<form action="{% url 'czas'%}" method="post">
    {% csrf_token %}

    login do canvasa:<br />
    <input type=text" name="login"/><br/>
    hasło do canvasa:<br />
	 <input type="text" name="password" /><br />

	<input type="submit" value="Zapisz" />
</form>



<br/>
<a href="{% url 'main'%}">Powrót</a><br/><br/>




</html>