<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% if blad == 'Blad logowania' %}

    <p>Niepoprawne logowanie!</p>


{% else %}
    {% for kurs, adres in slownik.items %}

       <a href="./zip{{adres}}">  {{kurs}} </a><br/>
    {% endfor %}



    {% if result >= -1 and result <= 99 %}
        <meta http-equiv="refresh" content="1"/>
{% endif %}
<br/><br/><br/><br/>
    <div>
        Rozpoczynam prace
    </div>

    {% if result == -1 %}
        <div>
            Oczekiwanie na workera.
        </div>
    {% elif result >= 1 and result <= 100 %}
        <div>
            Oczekiwanie na workera. <strong>OK</strong>
        </div>
    {% endif %}
    {% if result >= 1 and result <= 50 %}
        <div>
            {{ status }}
        </div>
    {% elif result >= 51 and result <= 99 %}
        <div>
            Wyciagam kursy z canvasa...
        </div>
    {% elif result == 100 %}
        <div>
            Zaraz zostanie wyswietlona lista
        </div>
        <div>
            Zakonczono prace
        </div>
    {% elif result == 'blad' %}
        <div>
            Blad podczas wyciagania listy kursów z canvasa
        </div>
    {% endif %}

    {% if result >= 0 and result <= 100 %}
        <div>
            <div role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ result }}%">
                {{ result }}%
            </div>
        </div>
    {% endif %}
{% endif %}
</body>
</html>