<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {{ czas }}
    <form action="" method="post">{% csrf_token %}
        <input type="submit" value="Wydluz" />
    </form>
</body>
</html>