<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>

    </head>
    <body>
{% block content %}
{% if result >= -1 and result <= 99 %}
        <meta http-equiv="refresh" content="1"/>
{% endif %}

    <div>
        Rozpoczynam prace
    </div>

    {% if result == -1 %}
        <div>
            Oczekiwanie na workera.
        </div>
    {% elif result >= 1 and result <= 100 %}
        <div>
            Oczekiwanie na workera. <strong>OK</strong>
        </div>
    {% endif %}
    {% if result >= 1 and result <= 50 %}
        <div>
            {{ status }}
        </div>
    {% elif result >= 51 and result <= 99 %}
        <div>
            Zipuje...
        </div>
    {% elif result == 100 %}
        <div>
            Zaraz zostanie pobrany plik zip
        </div>
        <div>
            Zakonczono prace
        </div>
    {% elif result == 'blad' %}
        <div>
            Blad podczas zipowania
        </div>
    {% endif %}

    {% if result >= 0 and result <= 100 %}
        <div>
            <div role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ result }}%">
                {{ result }}%
            </div>
        </div>
    {% endif %}
{% endblock %}

            </div>

        </div>
    </body>
</html>